PORT=3000
MONGODB_URI=mongodb://localhost:27017/contacts_db
# MongoDB Ayarları
MONGODB_USER=your_mongodb_user
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URL=your_mongodb_cluster_url
MONGODB_DB=your_database_name
PORT=3000

# Brevo SMTP Ayarları
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=your_email@example.com

# Frontend ve JWT
APP_DOMAIN=http://localhost:3000
JWT_SECRET=your_jwt_secret
